@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap");
/*Colores*/
/*Fuentes*/
@import url("https://fonts.googleapis.com/css2?family=Rowdies&display=swap");
/*Tamaños*/
/*general*/
* {
  padding: 0;
  margin: 0;
  outline: none;
}

h1,
h2 {
  font-family: "Oswald", "sans-serif";
}

button,
span,
p,
a,
marquee {
  font-family: "Montserrat", "sans-serif";
}

.notice {
  position: sticky;
  top: 0;
  display: block;
  width: 100%;
  padding: 0.3em 0;
  background-color: #35b82c;
  justify-self: flex-start;
  font-weight: 500;
  color: rgb(10, 9, 9);
  text-align: center;
}

/*header*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 13vh;
  max-height: 6rem;
  background-color: rgb(10, 9, 9);
}
.header__logo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 30%;
  max-width: 6em;
  height: 100%;
}
.header__logo img {
  width: 100%;
}

/*hero*/
/*Carousel mobile*/
.greazyRotate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.greazyRotate img {
  width: 8em;
  margin: 1em 0;
  -webkit-animation: 10s logo infinite linear;
  animation: 10s logo infinite linear;
}

.glider-track {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.vuelta {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.catalog {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 0 2em;
  background-color: rgb(10, 9, 9);
  color: #ffffff;
  overflow: hidden;
  user-select: none;
}
.catalog h2 {
  margin-bottom: 0.5em;
  color: #ffffff;
  text-align: center;
}
.productCard{
    width: 100%;
}
.productCard__container{
    width: 100%;
}
.productCard__container__image{
    position: relative;
    cursor: pointer;
    transition: transform .5s ease;
}

.productCard__container__image.turn, 
.productCard__container__image.turn .viewMore,
.productCard__container__image.turn .newCollection,
.productCard__container__image.turn .contacto{
    transform: rotateY(180deg);
}
.productCard__container__image.turn .viewMore{
    transform: rotateY(180deg);
    
}
.productCard__container__image.turn .secondary__image{
    display: initial;
}
.productCard__container__image.turn .primary__image{
    display: none;

}
.productCard__container__image .secondary__image{
    display: none;
}
.productCard img{
    width: 100%;
}
.contacto{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5rem 0;
    background-color: rgba(10,9,9,.5);
    opacity: 0;
    transition: .5s ease;
    transition-property: opacity, transform
}
.viewMore{
    z-index: 1;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    padding: 0.3em 0.5em;
    height: auto;
    background-color: #221f20;
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 1.2em;
    font-family: "Oswald","sans-serif";
    transition: .3s ease;
    transition-property: transform, background-color;
    border: transparent;
    cursor: pointer;
}
.viewMore:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.684);
}
.productCard__container__image:hover .contacto{
    opacity: 1;
}
.swiper-wrapper{
    align-items: flex-end;
}

.swiper-button-next, .swiper-button-prev{
    color: white !important;
    background-color: rgba(0, 0, 0, 0.657);
    padding: .5rem;
}
.swiper-pagination{
  display: flex;
  justify-content: center;
}
.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
  }
  .swiper-pagination-bullet{
    width: 1rem;
    height: .5rem;
    margin: 0 .5rem;
    background-color: white !important;
    opacity: .3;
  }
  .swiper-pagination-bullet-active{
    opacity: 1;
  }
.rainbow-button {
    width: calc(11em + 6px);
    height: calc(1.2em + 6px);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0.2em;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#75698f),
        color-stop(49%, #80a7bf),
        color-stop(80%, #84c9d9),
        to(#74698c)
    );
    background-image: linear-gradient(
        90deg,
        #75698f 0%,
        #80a7bf 49%,
        #84c9d9 80%,
        #74698c 100%
    );
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 500;
    -webkit-animation: slidebg 2s linear infinite;
    animation: slidebg 2s linear infinite;
}
.rainbow-button:after{
    content: attr(alt);
    padding: 0.2em;
    width: 11em;
    height: 1.2em;
    background-color: #221f20;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
@-webkit-keyframes slidebg {
    to{
        background-position: 11em;
    }
}
@keyframes slidebg {
    to{
        background-position: 11em;
    }
}
.newCollection{
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Oswald", "sans-serif";
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}
.discount{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #c32014;
    padding: 0.3em 0.5em;
    font-size: 1.2em;
    font-weight: 500;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

.productCard__container__name, .productCard__container__price{
    display: block;
    margin: .5rem 0;
}
/* Sección 1 - Imágen + Texto */
.about__greazy {
  width: 100%;
  position: relative;
  margin: 5em 0 3em;
}
.about__greazy-image {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.about__greazy-image img {
  height: 100%;
  z-index: 4;
}
.about__greazy-image img:nth-child(2),
.about__greazy-image img:nth-child(3),
.about__greazy-image img:nth-child(4) {
  position: absolute;
}
.about__greazy-image img:nth-child(2) {
  opacity: 0.5;
  z-index: 3;
  top: -5%;
  right: -5%;
}
.about__greazy-image img:nth-child(3) {
  opacity: 0.3;
  z-index: 2;
  top: -10%;
  right: -10%;
}
.about__greazy-image img:nth-child(4) {
  opacity: 0.2;
  z-index: 1;
}
.about__greazy-info {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgb(10, 9, 9);
  color: #fff;
  width: 90%;
  max-width: 25em;
  margin: 1em auto 0;
  padding: 1em;
  z-index: 5;
}
.about__greazy-info__title {
  color: #f5df4d;
  font-family: "Oswald", "sans-serif";
  text-align: center;
  margin-bottom: 0.5em;
}
.about__greazy-info__descripton {
  width: 100%;
  margin: 0 auto;
  font-family: "Montserrat", "sans-serif";
  text-align: center;
  line-height: 1.4em;
  font-weight: 400;
}

/* Galeria de 9 Fotos */
section.gallery {
  background-color: rgb(10, 9, 9);
  width: 100%;
  padding: 10px 0px;
}
section.gallery img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%;
  height: auto;
  margin: 10px auto;
}

/* Sección de contacto */
.contact {
  font-family: "Oswald", "sans-serif";
  background-color: rgb(10, 9, 9);
  width: 100%;
}
.contact .contact__box {
  text-align: center;
  width: 100%;
  padding: 15px 0px;
  color: #ffffff;
}
.contact .contact__box h2 {
  color: #ffffff;
}
.contact .contact__box img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  background-position-y: 100%;
}
.contact .contact__box__redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 40px;
  color: white;
}
.contact .contact__box__redes a i {
  margin: 10px;
  font-size: 30px;
  color: white;
}

.footer {
  font-family: "Oswald", "sans-serif";
  width: 100%;
  padding: 20px 0px;
  color: #f5df4d;
  text-align: center;
  background-color: rgb(10, 9, 9);
}
.footer span {
  font-size: 12px;
  color: white;
}

.hero {
  height: 87vh;
  background-image: url("/assets/background.jpg");
  background-size: cover;
  background-position: 50%;
}
.hero .hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero .hero__container-title {
  margin-bottom: 1em;
  color: white;
  font-weight: lighter;
}
.hero .hero__container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 8em;
  height: 2.5em;
  color: rgb(35, 39, 42);
  background-color: #ffffff;
  border-radius: 0.5em;
  border: none;
  font-size: 1.3em;
  text-decoration: none;
  font-weight: 600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.hero .hero__container a:hover {
  background-color: #cccccc;
}
/*RESPONSIVE*/

@media screen and (min-width: 485px) {
  section.gallery {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  section.gallery img:nth-child(9) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    width: 50%;
  }

  .about__greazy {
    margin-top: 6em;
  }
  .about__greazy-image img:nth-child(2) {
    top: -10%;
    right: -10%;
  }
  .about__greazy-image img:nth-child(3) {
    top: -15%;
    right: -15%;
  }
  .about__greazy-image img:nth-child(4) {
    top: -20%;
    right: -20%;
  }

  section.contact .contact__box img {
    height: 200px;
    background-position: 50%;
  }
}
@media screen and (min-width: 700px) {
  .header {
    height: 15vh;
  }

  .hero {
    height: 85vh;
    background-position-y: -60px;
  }

  .greazyRotate img {
    width: 8em;
    margin-bottom: 2em;
  }

  .catalog h2 {
    margin-bottom: 1em;
  }
}
@media screen and (min-width: 837px) {
  .swiper {
    max-width: 60em;
  }
  section.gallery {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  section.gallery img:nth-child(9) {
    grid-column: auto;
    width: 100%;
  }

  .footer .rights {
    font-weight: 500;
    font-size: 14px;
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    background-position-y: -230px;
    background-attachment: fixed;
  }

  .catalog h2 {
    margin-bottom: 2em;
    font-size: 1.8em;
  }
  .swiper {
    max-width: 70em;
  }
  .swiper-slide .productCard{
    opacity: .5;
    transition: opacity 1s ease;
}
.swiper-slide-next .productCard{
    transition: opacity 1s ease;
    opacity: 1;
}
  .about__greazy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 6em 0 5em;
  }
  .about__greazy-image {
    height: 25em;
  }
  .about__greazy-image img:nth-child(2) {
    top: -5%;
    right: -10%;
  }
  .about__greazy-image img:nth-child(3) {
    top: -10%;
    right: -15%;
  }
  .about__greazy-image img:nth-child(4) {
    top: -15%;
    right: -20%;
  }
  .about__greazy-info {
    position: absolute;
    bottom: -10%;
    left: 20%;
    margin: 0 auto;
    padding: 1.5em 1em;
  }
  .about__greazy-info__title {
    margin: 1em 0;
  }
}
@media screen and (min-width: 1280px) {
  .swiper {
    max-width: 90em;
  }

  .about__greazy {
    margin-bottom: 6em;
  }
  .about__greazy-image {
    height: 30em;
  }
}
/*Animaciones*/
@-webkit-keyframes logo {
  to {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes logo {
  to {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
